<footer class="footer">
    <div class="container-fluid">
        <ul class="nav">
            <li class="nav-item">
                <a target="_blank" href="" class="nav-link">
                    contuct
                </a>
            </li>
            <li class="nav-item">
                <a target="_blank" href="" class="nav-link">
                    Support
                </a>
            </li>
        </ul>
        <div class="copyright">
            &copy; <a target="_blank" href="https://web.telegram.org/k">Creative tim/</a> - coded by Mamaru.G & Bereket.T..
        </div>
    </div>
</footer>
