<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>User Registration Form</title>
  <link rel="stylesheet" href="/static/styles/home.css">
</head>

<body>
  <div class="container">
    <h1>የ አባላት መመዝገብያ ቅፅ</h1>
    <form action="#" method="post">
      <div class="form-group">
        <label for="id">መለያ ቁጥር:</label>
        <input type="text" id="id" name="id" required>
      </div>
      <div class="form-group">
        <label for="first_name">ስም:</label>
        <input type="text" id="first_name" name="first_name" required>
      </div>
      <div class="form-group">
        <label for="middle_name"> የአባት ስም:</label>
        <input type="text" id="middle_name" name="middle_name">
      </div>
      <div class="form-group">
        <label for="last_name"> የአያት ስም:</label>
        <input type="text" id="last_name" name="last_name" required>
      </div>
      <div class="form-group">
        <label for="address">ሰፈር:</label>
        <input type="number" id="address" name="address" required>
      </div>
      <div class="form-group">
        <label for="house_number"> የቤት ቁጥር:</label>
        <input type="number" id="house_number" name="house_number" required>
      </div>
      <div class="form-group">
        <label for="job">ስራ:</label>
        <input type="text" id="job" name="job">
      </div>
      <div class="form-group">
        <label for="id_card_given_date">መታዎቂያ የተሰጠበት ቀን:</label>
        <input type="date" id="id_card_given_date" name="id_card_given_date">
      </div>
      <div class="form-group">
        <label for="renewal_status"> የሚያዎጣው መታዎቂያ:</label>
        <select id="renewal_status" name="renewal_status" onchange="addAdditionalOptions()">
          <option value="expired">እድሳት</option>
          <option value="active">አዲስ</option>
          
        </select>        
      </div>
      <div class="form-group" id="additional_options"></div>
      <div class="form-group">
        <label for="warranty_name">የትያዥ ስም:</label>
        <input type="text" id="warranty_name" name="warranty_name">
      </div>
      <button type="submit">አስቀምጥ</button>
    </form>
  </div>
  
  <script src="/static/scripts/home.js"></script>
</body>

</html>
