{% extends "layouts/base.html" %}

{% block title %} Regየነዋሪዎች መታወቂያ ቅጽ {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
<style>
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
  }
  
  .container {
    max-width: 500px;
    margin: 50px auto;
    padding: 20px;
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  h1 {
    text-align: center;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input[type="text"],
  input[type="date"],
  select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }
  
  button {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
  }
  
  button:hover {
    background-color: #45a049;
  }
  
</style>
{% endblock stylesheets %}

{% block content %}

 <div class="content">
    <div class="row">
      <div class="col-md-8">
        <div class="card">
          <div class="card-header">
            <h5 class="title">የቀበሌ ነዋሪቆች የመታወቂያ ምዝገባ</h5>
          </div>
          <div class="card-body">
            <form action="#" method="post">
              <div class="form-group">
                <label for="id">የመታወቂያ ቁጥር:</label>
                <input type="text" id="id" name="id" required>
              </div>
              <div class="form-group">
                <label for="first_name">ስም:</label>
                <input type="text" id="first_name" name="first_name" required>
              </div>
              <div class="form-group">
                <label for="middle_name"> የአባት ስም:</label>
                <input type="text" id="middle_name" name="middle_name">
              </div>
              <div class="form-group">
                <label for="last_name"> የአያት ስም:</label>
                <input type="text" id="last_name" name="last_name" required>
              </div>
              <div class="form-group">
                <label for="first_name">የእናት ስም:</label>
                <input type="text" id="first_name" name="first_name" required>
              </div>
              <div class="form-group">
                <label for="middle_name"> የእናት አባት ስም:</label>
                <input type="text" id="middle_name" name="middle_name">
              </div>
              <div class="form-group">
                <label for="last_name">የእናት አያት ስም:</label>
                <input type="text" id="last_name" name="last_name" required>
              </div>
                 <div class="form-group">
                <label for="date_of_birth">የትዉለድ ቀን እና ዘመን:</label>
                <input type="date" id="date_of_birth" name="date_of_birth" required>
              </div>
                 <div class="form-group">
                <label for="last_name">የትዉለድ ቦታ:</label>
                <input type="text" id="last_name" name="last_name" required>
              </div>
               </div>
                 <div class="form-group">
                <label for="last_name">ስራ</label>
                <input type="text" id="last_name" name="last_name" required>
              </div>
              <div class="form-group">
                <label for="address">ሰፈር:</label>
                <input type="number" id="address" name="address" required>
              </div>
              <div class="form-group">
                <label for="house_number"> የቤት ቁጥር:</label>
                <input type="number" id="house_number" name="house_number" required>
              </div>
              <div class="form-group">
                <label for="job">የጋብቻ ሁኔታ:</label>
                <select id="mariage_status" name="mariage_status">
                  <option value="maried">ያገባ(ች)</option>
                  <option value="un_maried"> ያላገባ(ች)</option>
                </select>
              </div>
              <div class="form-group">
                <label for="job">ዜግነት:</label>
                <input type="text" id="job" name="job">
              </div>
              <div class="form-group">
                <label for="id_card_given_date">መታዎቂያ የተሰጠበት ቀን:</label>
                <input type="date" id="id_card_given_date" name="id_card_given_date">
              </div>
              <div class="form-group">
                <label for="renewal_status"> የሚያዎጣው መታዎቂያ:</label>
                <select id="renewal_status" name="renewal_status" onchange="addAdditionalOptions()">
                  <option value="expired">እድሳት</option>
                  <option value="active">አዲስ</option>
                  
                </select>        
              </div>
              <div class="form-group" id="additional_options"></div>
              <div class="form-group">
                <label for="warranty_name">የትያዥ ስም:</label>
                <input type="text" id="warranty_name" name="warranty_name">
              </div>
              <div class="form-group">
                <label for="warranty_name">የትያዥ ስልክ ቁጥር:</label>
                <input type="text" id="warranty_name" name="warranty_name">
              </div>
              <button type="submit">አስቀምጥ</button>
            </form>
          </div>
          <div class="card-footer">
            <button type="submit" class="btn btn-fill btn-primary">መዝግብ</button>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card card-user">
          <div class="card-body">
            <p class="card-text">
              <div class="author">
                <div class="block block-one"></div>
                <div class="block block-two"></div>
                <div class="block block-three"></div>
                <div class="block block-four"></div>
                <a href="javascript:void(0)">
                  <img class="avatar" src="{{ ASSETS_ROOT }}/img/ማማሩ.jpg" alt="...">
                  <h5 class="title">ማማሩ ጌታሁን</h5>
                </a>
                <p class="description">
                  የቀበሌ 03 አስተዳዳሪ
                </p>
              </div>
            </p>
            <div class="card-description">
              ሀላፊነትን በትክክል መወጣት የሰዉልጅ ተግባር ነው 
            </div>
          </div>
          <div class="card-footer">
            <div class="button-container">
              <button href="javascript:void(0)" class="btn btn-icon btn-round btn-facebook">
                <i class="fab fa-facebook"></i>
              </button>
              <button href="javascript:void(0)" class="btn btn-icon btn-round btn-twitter">
                <i class="fab fa-twitter"></i>
              </button>
              <button href="javascript:void(0)" class="btn btn-icon btn-round btn-google">
                <i class="fab fa-google-plus"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<script>
  function addAdditionalOptions() {
    const selectElement = document.getElementById("renewal_status");
    const additionalOptionsContainer = document.getElementById("additional_options");

    // Remove existing additional options before adding new ones
    additionalOptionsContainer.innerHTML = "";

    if (selectElement.value === "active") {
      const waysLabel = document.createElement("label");
      waysLabel.innerHTML = "የሚያዎጣበት መንገድ:";
      additionalOptionsContainer.appendChild(waysLabel);

      const waysSelect = document.createElement("select");
      waysSelect.id = "ways";
      waysSelect.name = "ways";
    //   const defaultt = createOptionElement("የሚያዎጡበትን መንገድ ይምረጡ ...");
      const option1 = createOptionElement("በመሸኛ");
      const option2 = createOptionElement("በትምህርት ማስረጃ");
    //   waysSelect.appendChild(defaultt)
      waysSelect.appendChild(option1);
      waysSelect.appendChild(option2);
      additionalOptionsContainer.appendChild(waysSelect);

      const imageInput = document.createElement("input");
        imageInput.type = "file";
        imageInput.accept = "image/*";
        additionalOptionsContainer.appendChild(imageInput);
    }
  }

  function createOptionElement(text) {
    const option = document.createElement("option");
    option.text = text;
    option.value = text.toLowerCase().replace(/\s+/g, "_"); // Convert text to lowercase and replace spaces with underscores for value attribute
    return option;
  }
</script>
{% endblock javascripts %}
